h1{
    color:black;
}
.header{
    background-color: wheat;
    display:flex;
    justify-content: space-evenly;
}
p,h2{
    text-align: center;
   color: black;
}
.grid{
   background-color: lightgreen;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.footer{
   display:flex;
   justify-content: flex-start; 
}